<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add Blog</title>
    <style>
        .preview-container {
            max-width: 200px;
            margin: 10px auto;
        }
        #frame {
            max-width: 100%;
            height: 100%;
            display: block; 
            margin: 0 auto;
        }
    </style>
</head>
<body data-bs-theme="dark">
    <%- include('./partials/navbar/navbar') %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="preview-container">
                <img id="frame" src="" class="img-fluid" />
            </div>
          <div class="mb-3">
            <label for="coverImage" class="form-label">Cover Image</label>
            <input
              type="file"
              class="form-control"
              id="coverImage"
              name="coverImage"
              aria-describedby="coverImage"
              onchange="preview()"
            />
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
            />
          </div>
          <div class="mb-3">
            <label for="body">Body</label>
            <textarea name="body" class="form-control" id="body"></textarea>
          </div>
          <div class="mb-3">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <script>
        function preview(){
            frame.src = URL.createObjectURL(event.target.files[0])
        }
      </script>
    <%- include('./partials/script') %>
</body>
</html>