<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home page</title>
</head>
<body data-bs-theme="dark">
    <%- include('./partials/navbar/navbar') %>
    <h1>Hi From Mahesh</h1>
    <%- include('./partials/script') %>
</body>
</html>